@font-face {
  font-family: 'Roboto Regular';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Regular';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nokia Sans S60 Bold';
  src: url("../fonts/NokiaSansS60-Bold.eot");
  src: url("../fonts/NokiaSansS60-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaSansS60-Bold.woff") format("woff"), url("../fonts/NokiaSansS60-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto Light', sans-serif;
  font-size: 1.5rem;
  color: #000000;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.section-title {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 3.2rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}

.header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header__container {
  padding: 2rem 0 2rem;
  position: relative;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.header__text {
  display: inline-block;
  margin-left: 14.3rem;
}

.header__title {
  text-transform: uppercase;
  font-family: 'Nokia Sans S60 Bold';
  font-size: 2.4rem;
}

.header__flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__paragraph {
  text-transform: lowercase;
  font-size: 1.1rem;
  color: #f64747;
}

.header__phonenumber {
  font-family: 'Roboto Regular', sans-serif;
  margin-bottom: 6px;
}

.header__phonenumber-code {
  font-size: 1.8rem;
}

.header__phonenumber-tel {
  font-size: 2.1rem;
}

.header__phone-link {
  color: #f64747;
  font-size: 1.4rem;
  text-decoration: none;
  outline: none;
}

.header__phone-link span {
  border-bottom: 1px dashed #f64747;
}

@media (max-width: 1020px) {
  .header__container {
    max-width: 95%;
  }
}

@media (max-width: 580px) {
  .header__container {
    padding: 1rem 0 1rem;
  }
  .header__logo {
    width: 9rem;
  }
  .header__text {
    margin-left: 10rem;
  }
}

@media (max-width: 510px) {
  .header__logo {
    width: 8rem;
  }
  .header__text {
    margin-left: 8.5rem;
  }
  .header__title {
    font-size: 2rem;
  }
  .header__paragraph {
    width: 90%;
  }
}

@media (max-width: 470px) {
  .header__text {
    width: 14rem;
  }
  .header__title {
    font-size: 1.6rem;
  }
  .header__paragraph {
    width: 70%;
    display: inline-block;
  }
  .header__phonenumber {
    text-align: right;
  }
  .header__phonenumber-code, .header__phonenumber-tel {
    font-size: 1.6rem;
  }
}

@media (max-width: 470px) {
  .header__phone-link {
    font-size: 1.2rem;
  }
  .header__logo {
    width: 6rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header__text {
    margin-left: 6.4rem;
  }
}

.main-screen {
  padding: 6.5rem 0 7.2rem;
  background-image: url(../img/main-screen-bg.png);
  background-repeat: no-repeat;
  background-size: 140rem;
  background-position: top;
  background-position-y: 18rem;
}

.main-screen__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-screen__upper-text {
  text-align: center;
  font-family: 'Roboto Condensed Regular', sans-serif;
  margin-bottom: 50px;
}

.main-screen__upper-text--title {
  font-size: 4.6rem;
  text-transform: uppercase;
  font-stretch: extra-condensed;
  color: #7d3803;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.main-screen__upper-text--subtitle {
  text-transform: uppercase;
  font-size: 2rem;
  font-stretch: extra-condensed;
  font-weight: 600;
}

.main-screen__form-block {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.main-screen__form-block--shadow {
  position: absolute;
  width: 114%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.main-screen__medals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-screen__medals--item {
  width: 22rem;
  height: 22rem;
  background-image: url(../img/medal-png.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -1.5rem;
  margin-bottom: -1.8rem;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-screen__medals--item:after {
  position: absolute;
  content: '';
  height: 6.5rem;
  width: 18rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -4.8rem;
  background-image: url(../img/medal-mirror.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-screen__medals--text {
  font-family: 'Roboto Condensed Regular', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.16;
  top: 50%;
  max-width: 14.6rem;
  font-stretch: condensed;
  font-weight: 600;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.main-screen__form {
  background-color: #f64747;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 3rem;
  border: 0.5rem solid #fdf1cf;
  display: inline-block;
  width: 25rem;
}

.main-screen__form--title {
  font-family: 'Roboto Condensed Regular', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.1rem;
  margin-bottom: 2.3rem;
  font-stretch: extra-condensed;
}

.main-screen__form--title span {
  font-size: 1.8rem;
}

.main-screen__form--lower-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-screen__form--lower-text > p {
  text-align: center;
  font-size: 1.1rem;
}

.main-screen__form > .form > .input > input {
  margin-bottom: 0.6rem;
}

.main-screen__form > button {
  margin-top: 0.8rem;
  margin-bottom: 1.2rem;
}

@media (max-width: 1420px) {
  .main-screen {
    background-size: 124rem;
  }
}

@media (max-width: 1200px) {
  .main-screen {
    background-size: 110rem;
  }
}

@media (max-width: 1060px) {
  .main-screen {
    background-size: 90rem;
  }
  .main-screen__upper-text {
    max-width: 90%;
    margin: 0 auto 5rem;
  }
  .main-screen__upper-text--subtitle {
    line-height: 1.44;
  }
  .main-screen__container {
    max-width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-screen__medals {
    margin-bottom: 6rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-screen__medals--item {
    margin: 0 auto;
  }
  .main-screen__medals--item:not(:last-child) {
    margin-bottom: 0 au;
  }
  .main-screen__medals--item:after {
    display: none;
  }
}

@media (max-width: 920px) {
  .main-screen {
    background-size: 80rem;
  }
}

@media (max-width: 810px) {
  .main-screen {
    background-size: 70rem;
  }
}

@media (max-width: 580px) {
  .main-screen {
    background-size: 50rem;
  }
  .main-screen__upper-text--title {
    font-size: 3.8rem;
    line-height: 1.2;
  }
  .main-screen__upper-text--subtitle {
    font-size: 1.6rem;
  }
  .main-screen__medals {
    margin-bottom: 4rem;
  }
}

@media (max-width: 480px) {
  .main-screen {
    background-image: none;
  }
  .main-screen__upper-text--title {
    font-size: 3.2rem;
  }
  .main-screen__upper-text--subtitle {
    font-size: 1.6rem;
  }
}

@media (max-width: 420px) {
  .main-screen__upper-text--title {
    font-size: 2.4rem;
  }
  .main-screen__upper-text--subtitle {
    font-size: 1.4rem;
  }
}

@media (max-width: 380px) {
  .main-screen__form-block--shadow {
    display: none;
  }
}

.input {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.1rem;
  -webkit-transform: translateY(42%);
          transform: translateY(42%);
  margin-right: 1.5rem;
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.input input {
  padding: 1.5rem 1.8rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.input input:focus {
  border-bottom: -0.2rem solid #fff9e6;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.input input:focus + .input-icon {
  opacity: 1;
}

.btn__form {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#13efcb), to(#03c9a9));
  background-image: linear-gradient(#13efcb, #03c9a9);
  background-color: #03c9a9;
  width: 100%;
  border-radius: 0.3rem;
  border: none;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
  padding: 2.3rem 0;
  outline: none;
}

.btn:active {
  -webkit-box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(51, 51, 51, 0.6);
          box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(51, 51, 51, 0.6);
}

.btn:hover {
  cursor: pointer;
}

.photo-slider {
  background-color: #fff9e6;
  padding: 5rem 0 10rem;
  background-image: url(../img/photo-slider/photo-slider-bg.png);
  background-repeat: no-repeat;
  background-position-x: 12%;
  background-position-y: 64%;
  background-size: 83rem;
}

.photo-slider__title {
  margin-bottom: 1.5rem;
}

.photo-slider__text {
  font-family: 'Roboto Regular', sans-serif;
  padding-top: 2.6rem;
  display: inline-block;
  width: 40rem;
  font-size: 1.6rem;
  line-height: 1.44;
}

.photo-slider__paragraph {
  width: 100%;
}

.photo-slider__paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.photo-slider__box {
  width: 52rem;
  height: 33.4rem;
  margin-right: 6rem;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.photo-slider__shadow {
  position: absolute;
  top: 80%;
  z-index: -1;
  left: 0;
  width: 108%;
  -webkit-transform: translateX(-4%);
          transform: translateX(-4%);
  opacity: 0.4;
}

.photo-slider__slider {
  border: 5px solid #ffffff;
  width: 100%;
  position: relative;
}

.arrow {
  position: absolute;
  width: 0.7rem;
  height: 1.3rem;
  z-index: 1;
  bottom: 2.8rem;
  left: 50%;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-prev {
  background-image: url(../img/photo-slider/arr-next.png);
  background-repeat: no-repeat;
  -webkit-transform: translateX(5.5rem);
          transform: translateX(5.5rem);
}

.arrow-next {
  background-image: url(../img/photo-slider/arr-prev.png);
  background-repeat: no-repeat;
  -webkit-transform: translateX(-6rem);
          transform: translateX(-6rem);
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  padding: 0.8rem 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.dots > li > button {
  display: none;
}

.dots > li {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  background-color: #ffffff;
}

.dots > li:hover {
  cursor: pointer;
}

.slick-active {
  background-color: #f64747 !important;
}

@media (max-width: 1492px) {
  .photo-slider {
    background-position-x: 35%;
    background-position-Y: 46%;
    background-size: 78rem;
  }
}

@media (max-width: 1200px) {
  .photo-slider {
    background-position-x: 0;
    background-size: 69rem;
    padding: 5rem 0 5rem;
  }
  .photo-slider__container {
    max-width: 90%;
    text-align: center;
  }
  .photo-slider__text {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 60%;
  }
  .photo-slider__box {
    margin: 0 auto 2rem;
  }
}

@media (max-width: 992px) {
  .photo-slider__text {
    font-size: 1.4rem;
  }
}

@media (max-width: 820px) {
  .photo-slider__text {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .photo-slider__title {
    max-width: 90%;
    margin: 0 auto;
  }
  .photo-slider__box {
    max-width: 90%;
  }
}

.advantages {
  padding: 5.3rem 0 6.4rem;
  background-image: url(../img/advantages/adv-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 16%;
}

.advantages__bg-2 {
  background-image: url(../img/advantages/adv-bg-2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 90%;
}

.advantages__title {
  margin: 0 auto 2.5rem;
  line-height: 1.4;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.advantages__video {
  border-radius: 0.5rem;
  border: 0.4rem solid #ffffff;
  width: 62rem;
  height: 40rem;
}

.advantages__video-box {
  position: relative;
  z-index: 1;
}

.advantages__video--shadow {
  position: absolute;
  bottom: 0.14rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  opacity: 0.4;
}

.advantages__video--iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1230px) {
  .advantages__container {
    max-width: 90%;
  }
  .advantages__bg-2 {
    background-image: none;
  }
}

@media (max-width: 1020px) {
  .advantages {
    background-image: none;
  }
  .advantages__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages__video {
    width: 50rem;
    height: 40rem;
    margin: 0 auto;
  }
  .advantages__video--shadow {
    display: none;
  }
}

@media (max-width: 660px) {
  .advantages__title {
    max-width: 90%;
    font-size: 2.4rem;
  }
  .advantages__video {
    width: 40rem;
    height: 26rem;
  }
}

@media (max-width: 460px) {
  .advantages__video {
    width: 28rem;
    height: 20rem;
  }
}

@media (max-width: 340px) {
  .advantages__title {
    font-size: 2.2rem;
  }
}

.advList {
  background-color: #fdf1cf;
  padding: 5.9rem 0 2.7rem;
}

.advList__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advList__title {
  margin: 0 auto 2rem;
}

.advList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2rem 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advList__item--img {
  width: 11rem;
  height: 11rem;
  margin-right: 1.6rem;
}

.advList__item--img img {
  width: 100%;
  height: 100%;
}

.advList__item--text {
  font-family: 'Roboto Regular', sans-serif;
}

.advList__item--title {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.advList__item--paragraph {
  font-size: 1.4rem;
  line-height: 1.5;
  max-width: 30rem;
}

@media (max-width: 480px) {
  .advList__container {
    max-width: 90%;
  }
  .advList__item {
    margin: 0 auto 3rem;
  }
  .advList__item--img {
    width: 8rem;
    height: 8rem;
  }
  .advList__item--title {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
  }
  .advList__item--paragraph {
    line-height: 1.4;
  }
}

@media (max-width: 440px) {
  .advList__title {
    max-width: 90%;
    font-size: 2.6rem;
  }
  .advList__item--img {
    width: 6rem;
    height: 6rem;
    margin-right: 1.2rem;
  }
  .advList__item--title {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }
  .advList__item--paragraph {
    font-size: 1.2rem;
    line-height: 1.2;
    display: inline-block;
    max-width: 22rem;
  }
}

.catalog {
  padding: 6rem 0 6rem;
}

.catalog__title {
  margin: 0 auto 1.4rem;
}

.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__item {
  padding: 1rem 2rem 2rem;
  width: 23rem;
  height: 39rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 3rem 3rem;
}

.catalog__item:hover {
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.catalog__item--img {
  margin-bottom: 2rem;
  text-align: center;
}

.catalog__item--img img {
  width: 100%;
}

.catalog__item--text {
  text-align: center;
  margin-bottom: 2.5rem;
}

.catalog__item--text-title {
  font-family: 'Roboto Regular', sans-serif;
  text-transform: uppercase;
  margin: 0 auto 1.6rem;
  font-size: 1.8rem;
}

.catalog__item--text-paragraph {
  font-size: 1.5rem;
  line-height: 1.4;
  width: 95%;
  margin: 0 auto;
}

.catalog__btn {
  margin: 0 auto;
  display: block;
  padding: 1.4rem 2.2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: transparent;
  color: #f64747;
  border: 0.1rem solid #f64747;
  outline: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.catalog__btn:active {
  -webkit-box-shadow: inset 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

.catalog__btn:hover {
  color: #ffffff;
  background-color: #f64747;
  cursor: pointer;
}

@media (max-width: 992px) {
  .catalog__item {
    -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  }
  .catalog__btn {
    color: #ffffff;
    background-color: #f64747;
  }
}
/*# sourceMappingURL=style.css.map */