@font-face {
  font-family: 'Roboto Regular';
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'Roboto Light';
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: 'Roboto Condensed Regular';
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'Nokia Sans S60 Bold';
  src: url('../fonts/NokiaSansS60-Bold.eot');
  src: url('../fonts/NokiaSansS60-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NokiaSansS60-Bold.woff') format('woff'), 
      url('../fonts/NokiaSansS60-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
