.header
  background-image: url(../img/header-bg.jpg)
  background-size: cover
  background-repeat: no-repeat
  &__container
    padding: 2rem 0 2rem
    position: relative
  &__logo
    position: absolute
    top: 0
    left: 0
  &__text
    display: inline-block
    margin-left: 14.3rem
  &__title
    text-transform: uppercase
    +nokia_sans
    font-size: 2.4rem
  &__flex-box
    display: flex
    justify-content: space-between
  &__paragraph
    text-transform: lowercase
    font-size: 1.1rem
    color: $color-red
  &__phonenumber
    +rob_reg
    margin-bottom: 6px
    &-code
      font-size: 1.8rem    
    &-tel
      font-size: 2.1rem
  &__phone-link
    color: $color-red
    font-size: 1.4rem
    text-decoration: none
    outline: none
    span
      border-bottom: 1px dashed $color-red

@media (max-width: 1020px)
  .header
    &__container
      // padding: 1rem 0 1rem
      max-width: 95%
@media (max-width: 580px)
  .header
    &__container
      padding: 1rem 0 1rem
    &__logo
      width: 9rem
    &__text
      margin-left: 10rem
@media (max-width: 510px)
  .header
    &__logo
      width: 8rem
    &__text
      margin-left: 8.5rem
    &__title
      font-size: 2rem
    &__paragraph
      width: 90%
@media (max-width: 470px)
  .header
    &__text
      width: 14rem
    &__title
      font-size: 1.6rem
      // display: inline-block
    &__paragraph
      width: 70%
      display: inline-block
    &__phonenumber
      text-align: right
      &-code, &-tel
        font-size: 1.6rem
@media (max-width: 470px)
  .header
    &__phone-link
      font-size: 1.2rem
    &__logo
      width: 6rem
      top: 50%
      transform: translateY(-50%)
    &__text
      margin-left: 6.4rem





